.resources-container {
  text-align: center;
  padding: 50px 70px;
  margin-top: 2rem; 
  overflow-x: hidden; 
}

.custom-padding {
  padding-left: 120px !important;
  padding-right: 120px !important;
  padding-top: 80px !important;
}

.newsletter-form {
  margin: 20px 0;
}

.categories-nav {
  justify-content: center;
  padding: 5px 50px;
  margin-bottom: 10px;
}

.menus-nav {
  justify-content: center;
  padding: 5px 50px;
  margin-bottom: 20px;
}

.navbar-nav .nav-item .nav-link {
  padding: 8px 10px; 
  margin-right: 5px; 
  color: black;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  position: relative;
}

.navbar-nav .nav-item .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #6A4C93; 
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-item .nav-link.active::after {
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .resources-container {
    padding: 80px 120px !important;
  }
  .custom-padding {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
}

@media (max-width: 992px) {
  .resources-container {
    padding: 50px 30px;
  }
  .custom-padding {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

@media (max-width: 768px) {
  .resources-container {
    padding: 50px 20px;
  }
  .custom-padding {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 80px !important;
  }
  .categories-nav,
  .menus-nav {
    padding: 5px 20px;
  }
}

@media (max-width: 576px) {
  .resources-container {
    padding: 30px 10px;
  }
  .custom-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 80px !important;
  }
  .categories-nav,
  .menus-nav {
    padding: 5px 10px;
  }
}
