@keyframes slideInFromRight {
  from {
    transform: translateX(30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.privacy-page-container {
  animation: slideInFromRight 1s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
  
  .h1 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .p {
    font-size: 12px;
    line-height: 1.5;
  }
  
  .a {
    color: #007bff;
    text-decoration: none;
  }
  .li{
    font-size: 12px;
  }
   .link:hover{
   text-decoration: underline;
   }

   .home-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #323232;
    padding: 15px;
  }
  
  .home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
  }
  
  .home-button:hover {
    background-color: #0056b3;
    color: #fff;
  }