/* ================= B2B pricing =========== */
.landing {
  padding: 0px 120px;
  width: 100%;
}

.bg-light-purple {
  background-color: #E9E8F6;
  border-radius: 20px;
}

.bg-light-pink {
  background-color: #F0DFEF;
  border-radius: 20px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.min-vh-100 {
  min-height: 100vh;
}

.large-icon {
  font-size: 50px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .landing {
    padding: 0px 120px;
  }
}

@media (max-width: 992px) {
  .landing {
    padding: 0px 30px;
  }
}

@media (max-width: 768px) {
  .landing {
    padding: 0px 15px;
  }
  .pricing-card {
    height: auto;
    padding: 2rem;
    margin: 1rem;
  }
}

/* ================= END B2B pricing =========== */

/* ================== Book a Demo ================== */
.book-a-demo {
  background: linear-gradient(90deg, rgb(225,228,247) 0%, rgb(251,247,246) 100%);
  padding: 20px 120px;
  width: 100%;
}

.form-container {
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-container .form-group {
  margin-bottom: 1.5rem;
}

.form-container .form-control {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-container .form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.form-container .form-check-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-container .form-check-input {
  margin-right: 0.5rem;
}

.book-a-demo .text-danger {
  color: #ff0000; 
}

.slideshow-container {
  position: relative;
  max-width: 100%;
}

.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #5a67d8;
}

.dot:hover {
  background-color: #5a67d8;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .book-a-demo {
    padding: 20px 120px;
  }
}

@media (max-width: 992px) {
  .book-a-demo {
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  .book-a-demo {
    padding: 20px 15px;
  }
  .book-a-demo img {
    margin-top: 20px;
    width: 100%;
  }
}

/* ================== End Book a Demo ================== */
