@font-face {
    font-family: 'Segoe UI';
    src: url('./segoeuithis.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Segoe UI';
    src: url('./segoeuithis.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe UI';
    src: url('./segoeuithisi.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  