.faq-list-group .active {
  font-weight: bold;
  font-size: 1.1em;
  background-color: #5a67d8;
  border-color: #5a67d8;
}

.landing-section3 {
  padding: 20px 120px !important;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .landing-section3 {
    padding: 20px 120px !important;
  }
}

@media (max-width: 992px) {
  .landing-section3 {
    padding: 20px 40px !important;
  }
}

@media (max-width: 768px) {
  .landing-section3 {
    padding: 20px 30px !important;
  }
}

@media (max-width: 576px) {
  .landing-section3 {
    padding: 20px 20px !important;
  }
}
